DirectoryIndex index.php index.html
RewriteEngine On

# Si le fichier PHP existe, l'exécuter directement
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [QSA,L]

# Redirection vers login.html si aucune route ne correspond
RewriteRule ^$ /html/login.html [L]
