DirectoryIndex index.php
RewriteEngine On

# Servir directement les fichiers PHP s'ils existent
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1 [QSA,L]

# Rediriger l'URL racine vers login.html
RewriteRule ^$ /html/login.html [L]

